<h2>About Lunch Hub</h2>
<p>
  Lunch Hub is a web application designed to help office workers decide where to go to lunch.
  It was first created by <%= link_to "Jason Swett", "http://jasonswett.net" %> in 2008.
  The site was taken down around 2010, but it was rebuilt in 2012 by Jason with help from his brother, Tanner.
</p>
