<h1>Listing lunch_desires</h1>

<table id="lunch_desires-table">
  <tr>
    <th>Name of person</th>
    <th>Name of restaurant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Lunch desire</a>