<h1>New lunch_desire</h1>

<form id="new-lunch_desire" name="lunch_desire">
  <div class="field">
    <label for="name_of_person"> name_of_person:</label>
    <input type="text" name="name_of_person" id="name_of_person" value="<%= name_of_person %>" >
  </div>

  <div class="field">
    <label for="name_of_restaurant"> name_of_restaurant:</label>
    <input type="text" name="name_of_restaurant" id="name_of_restaurant" value="<%= name_of_restaurant %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Lunch desire" />
  </div>

</form>

<a href="#/index">Back</a>