<form id="new-lunch_desire" name="lunch_desire">
  <div class="field">
    <label for="name_of_person">Your name:</label>
    <input type="text" name="name_of_person" id="name_of_person" value="<%= name_of_person %>" >
  </div>

  <div class="field">
    <label for="name_of_restaurant">Restaurant:</label>
    <input type="text" name="name_of_restaurant" id="name_of_restaurant" value="<%= name_of_restaurant %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Lunch desire" />
  </div>

</form>

<a href="#/index">Back</a>
