<div id="main_page">

  <%= render 'form' %>

  <ul>
    <% @lunch_desires.each do |lunch_desire| %>
      <li><%= lunch_desire.name_of_person %> wants to go to <%= lunch_desire.name_of_restaurant %></li>
    <% end %>
  </ul>

</div>
