<div id="lunch_desires"></div>

<script type="text/javascript">
  $(function() {
    window.router = new LunchHub.Routers.LunchDesiresRouter({lunchDesires: <%= @lunch_desires.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
